body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.buttonsize {
  color: white !important;
  padding: 8px 16px !important;
  text-align: left !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 10px !important;
  border-radius: 50% !important;
}

.buttonsizebig {
  color: #ffffff !important;
  padding: 15px 30px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 15px !important;
  border-radius: 70% !important;
  margin: 2% !important
}

.buttonsizelarge {
  width: 100% !important;
}